* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background: rgb(53, 66, 74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border-bottom: 4px solid #a054a0;
}

.header {
  color: #ebf3f3;
  padding-bottom: 20px;
}
.header span {
  color: #a054a0;
}

.pages {
  display: inline-flex;
}
.pages li {
  list-style: none;
  padding-right: 35px;
  padding-bottom: 20px;
}

.pages li a {
  text-decoration: none;
  color: #ebf3f3;
  padding-left: 30px;
}
#about a {
  color: #a054a0;
}

.section-one {
  background: rgb(53, 66, 74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #ebf3f3;
}
.subscribe input {
  width: 13rem;
  font-size: 0.7rem;
  padding: 0.3rem;
}
.subscribe button {
  font-size: 0.7rem;
  padding: 0.4rem;
  background-color: rgb(232, 73, 29);
  color: #ebf3f3;
  border: none;
  cursor: pointer;
}
.section-two {
  display: flex;
  height: 40rem;
  width: 100%;
  font-size: 14px;
}
.box-1 {
  padding: 3rem;
}
.box-1 #gray {
  background-color: rgb(53, 66, 74);
  color: #ebf3f3;
  margin-top: 1rem;
  padding: 1rem;
}
.box-2 {
  padding: 1.3rem;
  margin: 0.8rem;
  background: rgb(53, 66, 74);
  height: 13rem;
  margin-top: 2.3rem;
  color: #ebf3f3;
}
footer {
  background: rgb(53, 66, 74);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.1rem;
  color: #ebf3f3;

  font-size: 14px;
}
